.header {
  /* width: 1060px;
  max-width: 1060px; */
  /* width: 100%;
  max-width: 1060px;
  margin: 0 auto; */
}
.navbar {
  display: flex;
  align-items: center;
  padding: 25px 20px;
  /* width: 100%; */
  /* justify-content: space-between; */
}

.navbar ul {
  display: flex;
  margin-right: auto;
}
.navbar ul li {
  /* margin-right: 60px; */
  list-style-type: none;
  margin-right: 30px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 130% */
  cursor: pointer;
}

.navbar .logos {
  display: flex;
  gap: 10px;
}
.navbar img {
  cursor: pointer;
}
